nav.sidebar 
   ul.sidebar__navList 
      li.sidebar__navItem.sidebar__navItem--active  
         a.sidebar__navLink(href="#") 
            svg.sidebar__navIcon 
               use(xlink:href="./assets/img/sprite.svg#icon-home")
            span hotel
      li.sidebar__navItem  
         a.sidebar__navLink(href="#") 
            svg.sidebar__navIcon 
               use(xlink:href="./assets/img/sprite.svg#icon-aircraft-take-off")
            span flight
      li.sidebar__navItem  
         a.sidebar__navLink(href="#") 
            svg.sidebar__navIcon 
               use(xlink:href="./assets/img/sprite.svg#icon-key")
            span car rental
      li.sidebar__navItem  
         a.sidebar__navLink(href="#") 
            svg.sidebar__navIcon 
               use(xlink:href="./assets/img/sprite.svg#icon-map")
            span tours
   .legal   
      p 
      | &copy; 
      | 2021 Trillo All Right Reserved
